body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: orange;
    background-image: url(../images/FG-Five-Guys-Story-Hero.jpg);
}

a {
    color: #00B7FF;
}

table{
    background-color: lightblue;
    border: 2px solid black;
    align: "center";
}

h1{
    font-size: 20px;
    font-family:"Cooper";
    text-align:center;
    color:red;
    border: 2px solid red;
    background-color: yellow;
}

.listGet{
    border: 2px solid black;
    margin: 40px;
    font-size: 30px;
    font-style: italic;
}

img{
    height: 400px;
    width: 400px;
}

.makeLong{
    border: 5px solid green;
    width:100%;
}


